MARIADB_ROOT_PASSWORD=example_root_password
MARIADB_HOST=example_host
MARIADB_DATABASE=example_database_name
MARIADB_USER=example_user
MARIADB_PASSWORD=example_password
MARIADB_PORT=example_port

DATABASE_URL=exmaple_database_url