# server runtime
PORT=3000
NODE_ENV=production | development | test


# database connection
MARIADB_HOST=mariadb
MARIADB_PORT=3306

MARIADB_DATABASE=auth_platform
MARIADB_USER=auth
MARIADB_PASSWORD=auth_password

DATABASE_URL=mysql://auth:auth_password@mariadb:3306/auth_platform

# docker container initialization
MARIADB_ROOT_PASSWORD=root_password


# redis connection
REDIS_HOST=redis
REDIS_PORT=6379


# jwt configuration
JWT_ACCESS_SECRET=example_access_secret
JWT_ACCESS_EXPIRES_IN=5s

JWT_REFRESH_SECRET=example_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d


# CORS origin
CORS_ORIGIN=http://localhost
