# server runtime
PORT=3000
NODE_ENV=development


# database connection
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306

MARIADB_DATABASE=auth_platform
MARIADB_USER=example_user
MARIADB_PASSWORD=example_password

# docker container initialization
MARIADB_ROOT_PASSWORD=example_root_password


# redis connection
REDIS_HOST=localhost
REDIS_PORT=6379


# jwt configuration
JWT_ACCESS_SECRET=example_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=example_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
